@import url(../vendor/normalize.css);

.page {
  background-color: black;
  color: white;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  padding-bottom: 41px;
}

.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  margin: 22px 0 21px;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin-left: 18px;
  padding: 0;
  border: 1px solid white;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  height: 50px;
  margin-left: auto;
  width: 150px;
  border-radius: 2px;
  border: 2px solid white;
  padding: 0;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 20px;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 415px;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  border-radius: 10px;
  overflow: hidden;
  max-width: 282px;
}

.cards {
  /* fonts */
  max-width: 880px;
  margin: 30px auto 0;
}

.card__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 0 auto;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  max-width: 373px;
  margin: 0;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 219px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 0.5;
}

.footer {
  text-align: center;
  max-width: 880px;
  width: 100%;
  margin: 40px auto;
}

.footer__text {
  display: flex;
  max-width: 318px;
  color: #545454;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 45px 0;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 62px;
  }

  .profile__description {
    margin: 0;
    width: 100%;
  }
}
